nav.top {
  display: flex;
  justify-content: center;

  a {
    margin-left: 1em;
    margin-right: 1em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
